.input-group{

padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    width: 100%;
    border-width: 20px;
    border-style: solid;
    color: #222222;
    opacity:0.4;
   margin-left: 0mm;
    margin-right: 0mm;
    margin-top: 0mm;

}
